.contact {
  
  background-color: $black;
  &__container {
    max-width: 1184px;
    color: $white;
    margin: 0 auto;
    padding: 8rem 0;
  }

  &__header {
    max-width: 36.25rem;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    &::before {
      content: "";
      width: 5rem;
      height: 0.25rem;
      display: block;
      background:  $havyblue;
      border-radius: 0.5rem;
      margin-bottom: 1.5rem;
    }
  }
  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    max-width: 36.25rem;
  }

  .social {
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
      display: flex;
    }
    &__icon{
      margin: 24px 24px 48px 0;
    }
    &__mail{
      border-bottom: 2px solid $havyblue;
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      margin-top: 3.75rem;
      padding-bottom: 0.5rem;
      color: $havyblue;
      text-decoration: none;
    }
  }
}
