.hero {
    max-width: 1184px;
    padding: 112px 0 150px;
    margin: 0 auto;

    &__photo {
      border-radius: 50%;
      border: 6px solid #CBD2D9;
      padding: 4px;
      height: 120px;
      width: 120px;

    }
    &__header {
    font-style: normal;
    font-weight: 600;
    font-size:  2.5rem;
    line-height: 3.5rem;
    max-width: 780px;
    margin: 2rem 0 1rem; 
    }
    &__description {
    color: $darkgrey;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    max-width: 780px;
    }
    &__link{
    font-weight: 500;
    color: $havyblue;
    }
    &__mail {
    border-bottom: 2px solid $havyblue;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 60px;
    padding-bottom: 8px;
    color: $havyblue;
    text-decoration: none;
    }
  }