$blue : #2251CC;
$green : #06C847;
$purple: #653CAD;
$white: #FFFFFF;
$lightgrey: #F5F7FA;
$grey: #CBD2D9;
$darkgrey: #52606D;
$black: #171F3F;


$lightblue: #E6F5FF;
$bblue: #64BEFF;
$havyblue: #0593FB;
$darkbule: #076FBB;