@import "_normalize";
@import "_variables";
@import "_hero";
@import "_skills";
@import "_projects";
@import "_contact";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  border: 16px solid $black;
}

.main {
}

