@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  border: 16px solid $black;
}

.main {
}

.hero {
  margin: 128px;
  &__photo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 4px solid #ffffff;
  }
  &__header {
    max-width: 80vh;
  }
  &__description {
    max-width: 60vh;
  }
  &__mail {
  }
}

.skills {
  padding: 128px;
  display: grid; 
  grid-row-gap: 128px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr;
  grid-template-areas: "header herader herader" 
                       "working working working"
                       "konow konow konow"
                       "want want want";

  &__header {
    grid-area: header;
    border-bottom: solid $darkgrey 4px;
  }

  &__working {
    border-top: solid $green 5px;
    grid-area: working;
    display: flex;
    justify-content: space-between;

    &--description {

    }
    &--list {
      text-align: left;
      margin: 12px;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style: none;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      ::before {
        content: "";
        background-image: url(/assets/img/green.png);
        background-size: 100% 100%;
        border-radius: 50%;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 0 12px;
      }
    }
    &--item {
    }
  }

  &__know {
    border-top: solid $purple 5px;
    display: flex;
    grid-area: konow;
    justify-content: space-between;

    &--description {

    }
    &--list {
      text-align: left;
      margin: 12px;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style: none;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      ::before {
        content: "";
        background-image: url(/assets/img/purple.png);
        background-size: 100% 100%;
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 0 12px;
      }
    }
    &--item {
    }
  }

  &__want {
    border-top: solid $blue 5px;
    display: flex;
    grid-area: want;
    justify-content: space-between;
    &--description {
    }
    &--list {
      text-align: left;
      margin: 12px;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style: none;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      ::before {
        content: "";
        background-image: url(/assets/img/blue.png);
        background-size: 100% 100%;
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 0 12px;
      }
    }
    &--item {
    }
  }
}

.projects {
  margin: 128px;
  &__header {
  }
  &--description {
  }
  &__list {
  }
}

.err-js{
  font-size: 35px;
}

.contact {
  padding: 128px;
  width: 100%;
  color: $white;
  background-color: $black;
  
  &__header {
  border-top: solid $blue 4px;
  padding: 12px 0 0 0;
  }
  &--description {
  }
  &__icon {
    &--fb {
    }
    &--github {
    }
    &--inst {
    }
  }
  &__mail {
  }
}

